/* 
   Archivo: estilos.css
   Descripción: Archivo principal de estilos para el Curriculum Vitae
*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* Variables */
:root {
  --color-principal: #f8a60c;
  --color-secundario: #110114;
  --color-terciario: rgb(11, 179, 137);
  }

/* Estilos generales */
*p, li, ul {
  font-family: 'Roboto Slab', serif;
  } 

h1 {
  font-family: 'Shantell Sans', cursive;
  text-align: right;
  font-display: flex;
  }

*h2,h3 {
  margin: 0;
  padding: 10px;
  font-family: 'Tilt Neon', cursive;
  }
 
/* Especificación de estilos */

   header {
    box-sizing: border-box; width: 1200px; height: 350px;
    background-color: var(--color-terciario);
    color: lavender;
    margin: 0px;
    padding:20px;
    }

  img {
   width:135px ;
   height: 142px;
   padding: 35px;
   display: flex;
  }
   
  .profesión {
    text-align: right;
    padding: 20px;
    font-display: flex;
   }

   .nav-enlace {
       display: inline-block;
       background: #5c635c;
       color: aquamarine;
       padding: 10px 30px;
    }

    .nav-enlace:hover {
        background: #bbb;
    }
      
    nav {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        border-color: black;
        background-color: lightslategray;
    }

.padre {
    box-sizing: border-box; width: 400px; height: 800px;
    background-color: var(--color-secundario);
    display: flex;
  } 
  

h2 {
  color: whitesmoke;
  padding: 20px;
  text-align: justify;
}

p {
  font-size: 20px;
  color: whitesmoke;
  padding: 20px;
  text-align: justify;
}

li, ul{
  font-size: 18px;
  color: whitesmoke;
}


  .hijo {
    box-sizing: border-box; width: 800px; height: 800px;
    display: flex;
    background-color: var(--color-principal);
    margin: 0px;
    padding:20px
  }

  
  

footer {
  background-color: var(--color-terciario);
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}